[submodule "modules/lizarbe-omarchy-config"]
	path = modules/lizarbe-omarchy-config
	url = https://github.com/lizarbe513/Lizarbe-Omarchy-Config.git
[submodule "modules/lizarbe-ajustes"]
	path = modules/lizarbe-ajustes
	url = https://github.com/lizarbe513/Lizarbe-Ajustes.git
